<h1>All Products</h1>

<table style="width: 50%">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th colspan="3">Actions</th>
  </tr>

  <% @product.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= link_to 'Show', product_path(product)  %>
        </td>
         <% if current_user.present? && current_user.role == 'vendor' && current_user.id == product.user_id %>
            <td>
              <%= link_to 'Edit', edit_product_path(product)  %>
            </td>
        <td><%= link_to 'Delete', product_path(product),
                        method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% elsif current_user.present? && current_user.role == 'admin'  %>
            <td>
              <%= link_to 'Edit', edit_product_path(product)  %>
            </td>
            <td><%= link_to 'Delete', product_path(product),
                            method: :delete, data: { confirm: 'Are you sure?' } %></td>

         <% end %>
      </tr>
  <% end %>
</table>
<br/>
<% if current_user.present? && (current_user.role == 'admin' or  current_user.role == 'vendor') %>
<%= link_to 'Add Product', new_product_path %>
<% end %>