<h1>Products</h1>
<%= form_for :product, url: products_path(@post) do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </p>
      <%= f.hidden_field :user_id, :value => current_user.id %>
    <p>
      <%= f.submit :Save %>
    </p>
<% end %>
<%= link_to 'All Products', products_path %>